<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Pepper Webinterface</title>
    <link rel="icon" type="image/x-icon" href="/ico/favicon.ico">
    <link rel="stylesheet" href="/css/style.css" type="text/css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.14/dist/vue.min.js"></script>
</head>
<body>
    <div class="topnav">
        <a href="index.html">Home</a>
        <a href="experiment.html">Experiment</a>
        <a class="active" href="#">Configuration</a>
    </div>
    <div id="app">
        <div class="two-element-container">
            <div>
                <label for="experiment">Experiment</label><br>
                <select id="experiment" class="select" v-model="config.experiment">
                    <option v-for="experiment in experiments" :value="experiment">{{experiment}}</option>
                </select>
            </div>
            <div></div>
            <div>
                <label for="language">Language</label><br>
                <select id="language" class="select" v-model="config.language">
                    <option value="de_DE">Deutsch</option>
                    <option value="en_US">English</option>
                </select>
            </div>
            <div>
                <label for="port">Webinterface Port</label><br>
                <input type="number" id="port" class="number" min="0" max="65535" v-model="config.port">
            </div>
            <div>
                <label for="speed">Speech Speed: {{config.speech_speed}}</label><br>
                <input type="range" id="speed" class="slider" min="50" max="400" step="5" v-model="config.speech_speed">
            </div>
            <div>
                <label for="pitch">Speech Pitch: {{config.speech_pitch}}</label><br>
                <input type="range" id="pitch" class="slider" min="50" max="400" step="5" v-model="config.speech_pitch">
            </div>
        </div>
    </div>
    <script src="/js/config.js"></script>
</body>
</html>